# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage/

# logs:
logs/

# Environments
.env
venv/

# mypy cache
.mypy_cache/

# visual studio
.vscode

# mac
.DS_Store

# bazel
src/bazel-bin
src/bazel-genfiles
src/bazel-out
src/bazel-src
src/bazel-testlogs
